{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Enter The Chat Room</h3>
                    <form method="post" class="buttons">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" placeholder="Pick a name!" name="name" value="{{name}}">
                        </div>
                        <div class="form-group">
                            <label for="code">Room Code:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="code" placeholder="Room Code" name="code" value="{{code}}">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary" name="join">Join</button>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success create-btn btn-block" name="create">Create a Room</button>
                        {% if error %}
                        <div class="alert alert-danger mt-3">
                            {{error}}
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
