{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">Chat Room: {{code}}</h2>
                </div>
                <div class="card-body message-box">
                    <div class="messages" id="messages"></div>
                    <div class="input-group mb-3">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Type your message..."
                            aria-label="Message"
                            aria-describedby="send-btn"
                            name="message"
                            id="message"
                        />
                        <div class="input-group-append">
                            <button
                                type="button"
                                class="btn btn-primary"
                                id="send-btn"
                                onClick="sendMessage()"
                            >
                                Send
                            </button>
                            <a href="/" class="btn btn-secondary ml-2">
                                Exit Room
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var socketio = io();

    const messages = document.getElementById("messages");

    const createMessage = (name, msg) => {
        const content = `
        <div class="message">
            <span class="message-sender">${name}</span>
            <span class="message-content">${msg}</span>
            <span class="message-time">${new Date().toLocaleTimeString()}</span>
        </div>
        `;
        messages.innerHTML += content;
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message);
    });
    const sendMessage = () => {
        const message = document.getElementById("message");
        if (message.value === "") return;
        socketio.emit("message", { data: message.value });
        message.value = "";
    };
</script>

{% for msg in messages %}
<script type="text/javascript">
    createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %}
{% endblock %}
